name: Check Links

on:
  schedule:
    - cron: "30 1 * * *"
  push:
    branches: [master]
  watch:
    types: started
jobs:
  check_links:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check and update links
        env:
          QY_WX_TOKEN: ${{ secrets.QY_WX_TOKEN }}
        run: |
          python check_links.py

      - name: Commit and push if changes
        run: |
          git config --global user.email "1577791638@qq.com"
          git config --global user.name "rr210"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update link status"
          git push
